$green-color: #8DBC5E
$red-color: #F5A3A3
$red-btn: #D1A661
$primary-color: #358DE0
$secondary-color: #656565
$border-color: #EDEDED
$text-color: #95989A
$btn-color: #5E82BC
$white-color: #fff

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400')

body
  margin: 0
  padding: 0

.header
  background-color: $primary-color
  width: 100%
  height: 60px

.navBlock
  width: 315px
  margin: 0 auto

.nav
  width: 60px
  height: 50px
  float: left
  margin-left: 25px
  margin-top: 5px
  background-color: $primary-color
  border: none
  &:first-child
    margin-left: 0
  &:hover
    cursor: pointer
  &:focus
    outline: none
  & > h1
    font-size: 12px
    text-align: center
    color: #fff
    margin: 0 auto
  .navImg1
    width: 34px
    margin: 0 auto
  .navImg2
    width: 35px
    margin: 0 auto
  .navImg3
    width: 38px
    margin: 0 auto
  .navImg4
    width: 27px
    margin: 0 auto


// content
.scrollParent
  overflow: hidden

.scroll
  overflow: auto
  height: 91vh
  &::-webkit-scrollbar
    width: 0

.article
  border-bottom: 1px solid $border-color
  height: 75px

  .gist
    float: left
    display: block

    h2, p
      font-size: 14px
      margin: 12px 0 0 15px

    p
      color: $secondary-color
      margin-top: 5px

  .gistStatus
    float: right
    height: 75px
    margin: 0 30px 0 0
    padding-left: 30px

    .Activity
      float: left
      margin-top: 10px

      .active
        color: $green-color

    .Activity>p
      margin: 3px 0 0 0
      font-size: 14px
      color: $secondary-color
      text-align: center

    .moreDetails
      margin: 30px 0 0 30px
      width: 13px
      float: right


.col-lg-5
  border-left: 1px solid $border-color
  left: -10px
  padding-left: 0
  padding-right: 10px

  .overview
    border-bottom: 1px solid $border-color
    padding: 7px 0 10px 10px
    left: -20px
    height: 170px

    .overviewImg
      float: left
      display: block
      width: 156px
      height: 156px
      border-radius: 50%
      background: url('../png/gist.png')
      background-size: auto 156px
      &>img
        width: 156px
        height: 156px
        border-radius: 50%

    .overviewStatus
      margin: 0 0 0 186px
      h2
        font-size: 20px
        float: left
        display: block


      .statusHeader
        height: 115px
        p
          float: right
          font-weight: bold
          color: $red-color

      .statusFoter
        .active
          font-weight: bold
          color: $green-color
          font-size: 16px
          float: left
          margin: 5px 0 0 50px
        p
          float: left
          font-size: 14px
          color: $text-color
          margin: 4px 0 0 5px
        img
          float: right

  .overviewName
    border-bottom: 1px solid $border-color
    padding: 11px 0 12px 22px
    h2
      text-transform: uppercase

    h2, p
      margin-bottom: 0
      font-size: 15px
      color: #808080

  .overviewText
    border-bottom: 1px solid $border-color
    padding: 11px 0 12px 22px
    color: $text-color
    p
      margin-bottom: 0

  .overviewButtons
    padding: 11px 0 12px 10px
    .gistBtn
      width: 100%
      height: 48px
      color: #fff
      border: none
      margin-bottom: 12px
      &:focus
        outline: none
    .gistPlace
      background-color: $green-color
      &:hover
        background-color: #A6D875
        cursor: pointer
    .gistPaymentsHistory
      background-color: $btn-color
      &:hover
        background-color: $primary-color
        cursor: pointer
    .gistShelterHistory
      background-color: $red-btn
      &:hover
        background-color: #E0B879
        cursor: pointer


    .overviewControls
      margin-bottom: 10px
      &>button
        background-color: #fff
        border: none
        color: #808080
        &:focus
          outline: none
        &:hover
          cursor: pointer
      .gistEdit
        float: left
        margin-left: 125px
      .gistDel
        float: right
        margin-right: 125px


    .houseAddPerson
      margin-top: 12px
      width: 100%
      height: 48px
      border: solid 1px green
      background-color: #fff
