.add
  .addPhoto
    button.uploadPhoto
      img(src='png/cloud.png', alt='Cloud')
      p Upload photo
  .addText.addTitle
    input(type="text", placeholder="Title")
  .addText.addAddress
    input(type="text", placeholder="Address")
  .rooms
  .addText.addRoomBtn
    button.roomAdd Add Room
  .addDiscription
    textarea(placeholder="Discription")
  .addButtons
    button.addSave Save
    button.addCancel Cancel
