.add
  .addPhoto
    img(src='png/house.png', alt='house')
    button.uploadPhoto
      img(src='png/cloud.png', alt='Cloud')
      p Upload new photo
  .addText.addTitle
    input(type="text", placeholder="Title", value= name)
  .addText.addAddress
    input(type="text", placeholder="Address", value= address)
  .rooms
  .addText.addRoomBtn
    button.roomAdd Add Room
  .addDiscription
    textarea(placeholder="Discription")= discription
  .addButtons
    button.addSave Save
    button.addCancel Cancel
