.addText.addRoom(id= 'room-' + id)
  .addRoomLeft
    p.room Room #
    p.roomNum 1
  .addRoomRight
    button.bedsLeft
      img(src='png/left.png', alt='left')
    input(type="text", placeholder="1")
    button.bedsRight
      img(src='png/right.png', alt='right')
    p Beds
    button.roomDel(value= id)
      img(src='png/del.png', alt='Del')
