each house in houses
  .article(id= house.id)
    button.houseBtn(value= house.id)
      .house
        h2(id="houseName_" + house.id)= house.name
        p(id="houseAdress_" + house.id)= house.address
      .members
        img.bad(src='svg/bad.svg', alt='Bad')
        p 25/13
        img.bow(src='svg/join.svg', alt='join')
