@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400");
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, td img {
  vertical-align: top; }

input, select, button, textarea {
  margin: 0;
  font-size: 100%;
  outline: none; }

input[type="text"], input[type="password"], textarea {
  padding: 0; }

input[type="checkbox"] {
  vertical-align: bottom; }

input[type="radio"] {
  vertical-align: text-bottom; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

html {
  min-height: 100%; }

body {
  color: #7e7f84;
  text-align: left;
  font-size: 1em;
  min-height: 100%;
    min-height-font-family: 'Roboto', sans-serif; }

a, a:visited {
  color: #f45a40;
  text-decoration: underline; }

a:hover {
  color: #f45a40;
  text-decoration: none; }

a:focus, a:active {
  color: #f45a40;
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

img {
  max-width: 100%; }

.clr {
  clear: both; }

.clearfix:after {
  clear: both;
  display: table; }

body {
  margin: 0;
  padding: 0; }

.header {
  background-color: #358DE0;
  width: 100%;
  height: 60px; }

.navBlock {
  width: 315px;
  margin: 0 auto; }

.nav {
  width: 60px;
  height: 50px;
  float: left;
  margin-left: 25px;
  margin-top: 5px;
  background-color: #358DE0;
  border: none; }
  .nav:first-child {
    margin-left: 0; }
  .nav:hover {
    cursor: pointer; }
  .nav:focus {
    outline: none; }
  .nav > h1 {
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin: 0 auto; }
  .nav .navImg1 {
    width: 34px;
    margin: 0 auto; }
  .nav .navImg2 {
    width: 35px;
    margin: 0 auto; }
  .nav .navImg3 {
    width: 38px;
    margin: 0 auto; }
  .nav .navImg4 {
    width: 27px;
    margin: 0 auto; }

.scrollParent {
  overflow: hidden;
  margin-right: -7px; }

.scroll {
  overflow: auto;
  height: 91vh; }
  .scroll::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px; }
  .scroll::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.08); }
  .scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.15); }
    .scroll::-webkit-scrollbar-thumb:hover {
      background-color: rgba(0, 0, 0, 0.4); }

.article {
  border-bottom: 1px solid #EDEDED;
  height: 75px; }
  .article:hover {
    background-color: #EDEDED; }
  .article button {
    width: 100%;
    height: 75px;
    background-color: transparent;
    border: none; }
    .article button:hover {
      cursor: pointer; }
    .article button:focus {
      outline: none; }
  .article .gist {
    float: left;
    display: block; }
    .article .gist h2, .article .gist p {
      text-align: left;
      font-size: 14px;
      margin: 12px 0 0 15px; }
    .article .gist p {
      color: #656565;
      margin-top: 5px; }
  .article .gistStatus {
    float: right;
    height: 75px;
    margin: 0 30px 0 0;
    padding-left: 30px; }
    .article .gistStatus button {
      margin: 7px;
      height: 60px;
      width: 60px;
      box-sizing: border-box;
      border: none;
      background-color: transparent; }
      .article .gistStatus button:focus {
        outline: none; }
      .article .gistStatus button:hover {
        cursor: pointer; }
    .article .gistStatus .Activity {
      float: left;
      margin-top: 10px; }
      .article .gistStatus .Activity .active {
        color: #8DBC5E;
        margin-top: -5px;
        font-size: 16px; }
    .article .gistStatus .Activity > p {
      color: #656565;
      text-align: right; }
    .article .gistStatus .moreDetails {
      margin: 30px 0 0 30px;
      width: 13px;
      float: right; }

.add, .edit {
  display: none; }

.activeR {
  text-align: left; }

.activeL {
  text-align: right; }

.inactiveR {
  margin: 5px 0 0 0;
  text-align: left;
  float: left; }

.inactiveL {
  margin-top: -5px;
  text-align: right; }

.addBtn {
  position: absolute;
  top: 570px;
  left: 25px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #8DBC5E;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .addBtn:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer; }
  .addBtn:focus {
    outline: none; }
  .addBtn p {
    font-size: 40px;
    color: #fff;
    position: relative;
    top: -4px;
    left: 0px; }

.col-lg-5 {
  left: -7px;
  padding-left: 0;
  padding-right: 15px; }
  .col-lg-5 .overview {
    border-bottom: 1px solid #EDEDED;
    padding: 7px 0 10px 10px;
    left: -20px;
    height: 170px; }
    .col-lg-5 .overview .overviewImg {
      float: left;
      display: block;
      width: 156px;
      height: 156px;
      border-radius: 50%;
      background: url("../img/upload/gist.png");
      background-size: auto 156px;
      background-position: center;
      background-repeat: no-repeat; }
      .col-lg-5 .overview .overviewImg > img {
        width: 156px;
        height: 156px;
        border-radius: 50%; }
    .col-lg-5 .overview .overviewStatus {
      margin: 0 0 0 186px; }
      .col-lg-5 .overview .overviewStatus h2 {
        font-size: 20px;
        float: left;
        display: block; }
      .col-lg-5 .overview .overviewStatus .statusHeader {
        height: 100px; }
        .col-lg-5 .overview .overviewStatus .statusHeader h2 {
          max-width: 150px; }
        .col-lg-5 .overview .overviewStatus .statusHeader p {
          float: right;
          font-weight: bold;
          color: #F5A3A3;
          margin-right: 10px;
          max-width: 100px; }
      .col-lg-5 .overview .overviewStatus .statusFoter .active {
        font-weight: bold;
        color: #8DBC5E;
        font-size: 16px;
        float: left;
        margin: 5px 0 0 0; }
        .col-lg-5 .overview .overviewStatus .statusFoter .active > h3 {
          float: right;
          font-size: 14px;
          color: #95989A;
          margin: 4px 0 0 5px; }
      .col-lg-5 .overview .overviewStatus .statusFoter p {
        float: left;
        font-size: 14px;
        color: #95989A;
        margin: 4px 0 0 5px; }
      .col-lg-5 .overview .overviewStatus .statusFoter img {
        float: right;
        width: 56px; }
  .col-lg-5 .overviewName {
    border-bottom: 1px solid #EDEDED;
    padding: 11px 0 12px 22px; }
    .col-lg-5 .overviewName h2 {
      text-transform: uppercase; }
    .col-lg-5 .overviewName h2, .col-lg-5 .overviewName p {
      margin-bottom: 0;
      font-size: 15px;
      color: #808080; }
  .col-lg-5 .overviewText {
    border-bottom: 1px solid #EDEDED;
    padding: 11px 0 12px 22px;
    color: #95989A; }
    .col-lg-5 .overviewText p {
      margin-bottom: 0; }
  .col-lg-5 .overviewButtons {
    padding: 11px 0 12px 10px; }
    .col-lg-5 .overviewButtons .gistBtn {
      width: 100%;
      height: 48px;
      color: #fff;
      border: none;
      margin-bottom: 12px; }
      .col-lg-5 .overviewButtons .gistBtn:focus {
        outline: none; }
    .col-lg-5 .overviewButtons .gistPlace {
      background-color: #8DBC5E; }
      .col-lg-5 .overviewButtons .gistPlace:hover {
        background-color: #A6D875;
        cursor: pointer; }
    .col-lg-5 .overviewButtons .gistPaymentsHistory {
      background-color: #5E82BC; }
      .col-lg-5 .overviewButtons .gistPaymentsHistory:hover {
        background-color: #358DE0;
        cursor: pointer; }
    .col-lg-5 .overviewButtons .gistShelterHistory {
      background-color: #D1A661; }
      .col-lg-5 .overviewButtons .gistShelterHistory:hover {
        background-color: #E0B879;
        cursor: pointer; }
    .col-lg-5 .overviewButtons .overviewControls {
      margin-bottom: 10px; }
      .col-lg-5 .overviewButtons .overviewControls > button {
        background-color: #fff;
        border: none;
        color: #808080; }
        .col-lg-5 .overviewButtons .overviewControls > button:focus {
          outline: none; }
        .col-lg-5 .overviewButtons .overviewControls > button:hover {
          cursor: pointer; }
      .col-lg-5 .overviewButtons .overviewControls .gistEdit {
        float: left;
        margin-left: 125px; }
      .col-lg-5 .overviewButtons .overviewControls .userDel {
        float: right;
        margin-right: 125px; }
    .col-lg-5 .overviewButtons .houseAddPerson {
      margin-top: 12px;
      width: 100%;
      height: 48px;
      border: solid 1px green;
      background-color: #fff; }

.inactive {
  color: #F5A3A3;
  font-size: 16px;
  font-weight: bold; }

.addPhoto {
  float: left;
  margin: 7px 10px 0 7px; }
  .addPhoto .uploadPhoto {
    background-color: #fff;
    border: none; }
    .addPhoto .uploadPhoto img {
      width: 96px; }
    .addPhoto .uploadPhoto:hover {
      cursor: pointer; }

.addName .addNameTitle {
  border-bottom: 1px solid #EDEDED;
  height: 65px;
  margin-left: 120px; }
  .addName .addNameTitle .name {
    float: left;
    width: 150px;
    margin-right: 20px;
    margin-top: 17px;
    border: none; }
  .addName .addNameTitle .lastname {
    width: 150px;
    margin-top: 17px;
    border: none; }

.addName .addNameStatus {
  border-bottom: 1px solid #EDEDED;
  height: 65px; }
  .addName .addNameStatus p {
    color: #3B3B3B;
    width: 200px;
    float: left;
    margin-top: 17px; }
  .addName .addNameStatus img {
    width: 50px;
    float: right;
    margin-top: 17px;
    margin-right: 30px; }

.replace {
  background-color: #FA5454; }
  .replace:hover {
    background-color: #FA6565;
    cursor: pointer; }

.addText {
  border-bottom: 1px solid #EDEDED;
  height: 65px;
  padding: 18px 15px 0 15px; }
  .addText input {
    border: none;
    width: 100%;
    border: none; }
  .addText select {
    border: none; }

.addShelter select, .addProgram select {
  width: 30%;
  margin-left: -2px; }

.addDate {
  width: 100%; }
  .addDate input {
    width: 40%; }

.addDiscription {
  min-height: 65px;
  border-bottom: 1px solid #EDEDED; }
  .addDiscription textarea {
    margin: 10px 15px 10px 15px;
    overflow: hidden;
    width: 430px;
    height: 200px;
    border: none; }

.addButtons button {
  width: 430px;
  margin: 10px 0px 0 15px;
  padding: 10px 0;
  color: #fff;
  border: none; }
  .addButtons button:focus {
    outline: none; }
  .addButtons button:hover {
    cursor: pointer; }

.addButtons .saveUser, .addButtons .editSave {
  background-color: #8DBC5E; }
  .addButtons .saveUser:hover, .addButtons .editSave:hover {
    background-color: #A1D46E; }

.addButtons .cancelUser, .addButtons .editCancel {
  background-color: #FF7722; }
  .addButtons .cancelUser:hover, .addButtons .editCancel:hover {
    background-color: #FD8D47; }

.addPhoto {
  position: relative; }
  .addPhoto input {
    margin-left: 5px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    letter-spacing: 10em;
    opacity: 0;
    cursor: pointer; }
  .addPhoto .uploadPhoto {
    position: relative;
    display: block;
    overflow: hidden;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 10px; }
    .addPhoto .uploadPhoto:focus {
      outline: none; }
    .addPhoto .uploadPhoto:hover {
      cursor: pointer; }
    .addPhoto .uploadPhoto img {
      width: 70px; }
    .addPhoto .uploadPhoto .whiter {
      width: 100px;
      height: 100px;
      left: 0;
      top: 0;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.45); }

.historyItem {
  height: 72px;
  border-bottom: 1px solid #EDEDED;
  padding: 16px; }
  .historyItem p {
    font-size: 14px; }
  .historyItem .historyLeft {
    float: left;
    box-sizing: border-box; }
  .historyItem .historyRight {
    margin-left: 320px;
    text-align: right; }

.history {
  display: none; }

/*# sourceMappingURL=users.css.map */