.add
  .addHeader
    .addPhoto
      button.uploadPhoto
        img(src='svg/addUserPhoto.svg', alt='Add photo')
    .addName
      .addNameTitle
        input.name(type="text", placeholder="Name")
        input.lastname(type="text", placeholder="Last name")
      .addNameStatus
        p Status
        //- input(type="checkbox")
        img(src='svg/checkbox.svg', alt='Checkbox')
  .addText.addDate
    input(type="date", placeholder="Date of birth")
  .addText.addSex
    select(class="")
      option(disabled selected) Sex
      option Male
      option Female

  .addText.addAddress
    input(type="text", placeholder="Address")
  .addText.addPhone
    input(type="text", placeholder="Phone number")
  .addText.addProgram
    select(class="")
      option(disabled selected) Select program
      option AABB
      option CNM-OP
  .addText.addShelter
    select(class="", value= shelter)
      option(disabled selected) Selter
      option Soul 1
      option Soul 3
    select(class="", value= shelter)
      option(disabled selected) Room
      option 1
      option 3
      option 4
      option 5
      option 8
    select(class="", value= shelter)
      option(disabled selected) Bed
      option 1
      option 2
  .addDiscription
    textarea(placeholder="Discription")
  .addButtons
    button.saveUser Save
    button.cancelUser Cancel
