.add
  .addPhoto
    button.uploadPhoto
      img(src='png/cloud.png', alt='Cloud')
      p Upload photo
  .addText.addTitle
    input(type="text", placeholder="Title")
  .addText.addAddress
    input(type="text", placeholder="Address")
  .addText.addAddress
    input(type="text", placeholder="Sex")
  .addText.addStatus
    input(type="text", placeholder="Status")
  .addDiscription
    textarea(placeholder="Discription")
  .addButtons
    button.saveUser Save
    button.cancelUser Cancel






script(src='js/users.js')
