.a
  .aa
  .aaa
    .aaaa
      h2= name + ' ' + lastName
    .b
      h3 Balance
      p -1234 $
    .bb
      h3 Last payment
      p 01/01/2017
  .overviewExcel
    button
      img(src='svg/excel.svg', alt='Exel')
each payment in payments
  .payment
    .paymentData
      p= payment.date
      h3 #{payment.sum} $
    .paymentDiscription
      p Department of Social Protection
      h3 #{payment.type}
  
  
.i
  button.gistPaymentsHistory.paymentBtn(value= id) Add Payment
  button.gistShelterHistory.paymentBtn.back(value= id) User Information
