.add
  .addHeader
    .addPhoto
      button.uploadPhoto
        img(src='svg/addUserPhoto.svg', alt='Add photo')
    .addName
      .addNameTitle
        input.name(type="text", placeholder="Name", value= name)
        input.lastname(type="text", placeholder="Last name", value= lastName)
      .addNameStatus
        p Status
        //- input(type="checkbox")
        img(src='svg/checkbox.svg', alt='Checkbox')
  .addText.addDate
    input(type="date", placeholder="Date of birth", value= date)
  .addText.addSex
    select(class="")
      option(disabled selected) Sex
      option Male
      option Female

  .addText.addAddress
    input(type="text", placeholder="Address", value= address)
  .addText.addPhone
    input(type="text", placeholder="Phone number", value= phone)
  .addText.addProgram
    select(class="", value= program)
      option(disabled selected) Select program
      option AABB
      option CNM-OP
  .addText.addShelter
    select(class="", value= shelter)
      option(disabled selected) Add shelter
      option Soul 1
      option Soul 3
  .addDiscription
    textarea(placeholder="Discription")= discription
  .addButtons
    button.editSaveUser(value= id) Save
    button.cancelUser Cancel
