form.add
  .addPhoto
    button.uploadPhoto
      img(src='img/png/cloud.png', alt='Cloud')
      p Upload photo
  .addText.addDate
    input(type="date", placeholder="Select date", name="date", required)
  .addText.addCash
    p Enrollment amount:
    input(type="text", placeholder="100", name="sum", required)
    p $
  .addText
    select(class="", name="type", required).addType
      option(disabled selected) Type of payment
      option CASH
      option Department
  .addButtons
    button.addSave(type="submit", value= gistId) Save
    button.addCancel(type="button", value= gistId) Cancel
