.overview
  .overviewImg
  .overviewStatus
    .statusHeader
      h2= name + ' ' + lastName
      p PILOT
    .statusFoter
      h3.active Active
      p (Soul 7)
      img(src='png/Airplane Mode toggle.png', alt='Toggle')
.overviewBith.overviewName
  p= date
.overviewSex.overviewName
  p Female
.overviewBith.overviewName
  p= address
.overviewSex.overviewName
  p +123456789987
.overviewText
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea ullamco laboris nisi ut aliquip ex ea commodo consequat.quis nostrud exercitation ullamco laboris nisi ut aliquip ex eaullamco laboris nisi ut aliquip ex ea commodo consequat.quis nostrud exercitation 
.overviewButtons
  
  button.addCancel.gistBtn Cancel
  
