each user in users
  .article(id= user.id)
    button.userBtn(value= user.id)
      .gist
        h2(id= 'gistName_' + user.id)= user.name + ' ' + user.lastName
        p= user.address
      .gistStatus
        .Activity
          p PILOT
          p.active(id= 'gistStastus_' + user.id) Active
        img.moreDetails(src='svg/join.svg', alt='join')
