form.edit
  fieldset
    .addHeader
      .addPhoto
        button.uploadPhoto(type="button", style="background: url(img/upload/gists/#{image}); background-size: auto 110px; background-position: center")
          -if (image)
            .whiter
            img(src='img/png/addPhoto.png', alt='Add photo')
          -else 
            img(src='img/svg/addUserPhoto.svg', alt='Add photo')
        input(type='file', encType="multipart/form-data", accept='image/jpg, image/jpeg, image/png, image/gif')
      .addName
        .addNameTitle
          input.name(type="text", placeholder="Name", name='name', value= name)
          input.lastname(type="text", placeholder="Last name", name='lastname', value= lastname)
        .addNameStatus
          p Status
          img(src='img/svg/checkbox.svg', alt='Checkbox')
    .addText.addDate
      input(type="date", placeholder="Date of birth", name='dateOfBirth', value= dateOfBirth)
    .addText.addSex
      select(class="", name='gender')
        option(disabled) Sex
        -if (gender === 'Male')
          option(selected) Male
        -else
          option Male
        -if (gender === 'Female')
          option(selected) Female
        -else
          option Female 

    .addText.addAddress
      input(type="text", placeholder="Address", name='address', value= address)
    .addText.addPhone
      input(type="text", placeholder="Phone number", name='phone', value= phone)
    .addText.addProgram
      select(class="", name='program')
        option(disabled) Select program
        -if (program === 'AABB')
          option(selected) AABB
        -else
          option AABB
        -if (program === 'CNM-OP')
          option(selected) CNM-OP
        -else
          option CNM-OP 
    .addDiscription
      textarea(placeholder="Discription", name='discription', value= discription)= discription
    .addButtons
      button.editSave(type="submit", value= _id) Save
      button.cancelUser(type="button") Cancel
