.history
  .header
    .block
      p.details Details
      p.date Date
  .article
    .block
      .main
        .details
          .house Soul 1
          .room Room
        .date
          .in in: 10.11.2012
          .out out: 9.12.2012
