extends layout

block content
  link(rel='stylesheet', href='/stylesheets/houses.css')
  body
    .container
      .header
        .navBlock
          button.nav
            img.navImg1(src='svg/graphic.svg', alt='Graphic', onClick='location.href="/report"')
            h1 Report
          button.nav
            img.navImg2(src='svg/house.svg', alt='House', onClick='location.href="/houses"')
            h1 Houses
          button.nav
            img.navImg3(src='svg/people.svg', alt='People', onClick='location.href="/users"')
            h1 Users
          button.nav
            img.navImg4(src='svg/dollar-coins.svg', alt='Dollar-coins', onClick='location.href="/payments"')
            h1 Payments
            
      .mainBlock
        .row
          .col-lg-7
            .scrollParent
              .scroll
                .houseBlock
                  each house in houses
                    .article(id= house.id)
                      button.houseBtn(value= house.id)
                        .house
                          h2(id="houseName_" + house.id)= house.name
                          p(id="houseAdress_" + house.id)= house.adress
                        .members
                          img.bad(src='svg/bad.svg', alt='Bad')
                          p 25/13
                          img.bow(src='svg/join.svg', alt='join')
            button.addBtn
              p +
          .col-lg-5
            .scrollParent
              .scroll
                .right
                  .overview
                    .overviewImg
                      img(src='png/house.png', alt='Bad')
                    .overviewStatus
                      img.bad(src='svg/bad.svg', alt='Bad')
                      p 25/13
                  .overviewName
                    h2 Soul 7
                  .overviewName
                    p 9055-9057 Normandie Ave
                  .overviewText
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea ullamco laboris nisi ut aliquip ex ea commodo consequat.quis nostrud exercitation ullamco laboris nisi ut aliquip ex eaullamco laboris nisi ut aliquip ex ea commodo consequat.quis nostrud exercitation ullamco laboris nisi ut aliquip ex eaquis nostrud exercitation ullamco laboris nisi ut aliquip e   llamco laboris nisi ut aliquip ex ea commodo consequat.aboris nisi ut aliquip ex eaquis nexercitation ullamco laboris nisi ut aliquip e   llamco laboris nisi ut aliquip ex ea commodo consequat. 
                  .overviewButtons
                    .overviewControls
                      button.gistEdit
                        img(src='png/edit.png', alt='Edit')
                        p Edit
                      button.gistDel(value= houses.id)
                        img(src='png/del.png', alt='Del')
                        p Del
                    button.houseGistList View guest list
                    .houseControls
                      select(class="" value="Room" placeholder="Room") Room
                        option(disabled selected) Room
                        option 2
                        option 3
                        option 4
                        option 5
                        
                      select(class="")
                        option(disabled selected) Bed
                        option 2
                        option 3
                        option 4
                        option 5
                        
                      input(placeholder='Price' checked='lalala')
                        
                    button.houseAddPerson Place a Person
                  
                  
                
          
      
      
      
      
      
    script(src='js/houses.js')
