.article(id= id)
  .house
    h2(id="houseName_" + id)= name
    p(id="houseAdress_" + id)= adress
  .members
    img.bad(src='svg/bad.svg', alt='Bad')
    p 25/13
    button.openBtn(value= id)
      img.houseBtn(src='svg/join.svg', alt='join')
