.add
  .addPhoto
    button.uploadPhoto
      img(src='png/cloud.png', alt='Cloud')
      p Upload photo
  .addText.addTitle
    input(type="text", placeholder="Title")
  .addText.addAddress
    input(type="text", placeholder="Address")
  .addText.addRoom
    .addRoomLeft
      p.room Room #
      p.roomNum 1
    .addRoomRight
      button.bedsLeft
        img(src='png/left.png', alt='left')
      input(type="text", placeholder="1")
      button.bedsRight
        img(src='png/right.png', alt='right')
      p Beds
      button
        img(src='png/del.png', alt='Del')
  .addText.addRoomBtn
    button Add Room
  .addDiscription
    textarea(placeholder="Discription")
  .addButtons
    button.addSave Save
    button.addCancel Cancel






script(src='js/houses.js')
