.tatata
  .right
    .overview
      .overviewImg
      .overviewStatus
        .statusHeader
          h2= name
          p PILOT
        .statusFoter
          h3.active= status
          p (Soul 7)
          img(src='png/Airplane Mode toggle.png', alt='Toggle')
    .overviewBith.overviewName
      p 13.03.1995
    .overviewSex.overviewName
      p Female
    .overviewBith.overviewName
      p 9055-9057 Normandie Ave
    .overviewSex.overviewName
      p +123456789987
    .overviewText
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea ullamco laboris nisi ut aliquip ex ea commodo consequat.quis nostrud exercitation ullamco laboris nisi ut aliquip ex eaullamco laboris nisi ut aliquip ex ea commodo consequat.quis nostrud exercitation ullamco laboris nisi ut aliquip ex eaquis nostrud exercitation ullamco laboris nisi ut aliquip e   llamco laboris nisi ut aliquip ex ea commodo consequat.aboris nisi ut aliquip ex eaquis nexercitation ullamco laboris nisi ut aliquip e   llamco laboris nisi ut aliquip ex ea commodo consequat. 
    .overviewButtons
      .overviewControls
        button.gistEdit
          img(src='png/edit.png', alt='Edit')
          p Edit
        button.userDel(value= id)
          img(src='png/del.png', alt='Del')
          p Del
      button.gistPlace.gistBtn Place
      button.gistPaymentsHistory.gistBtn Payments History
      button.gistShelterHistory.gistBtn Shelter History
