form.add(enctype="multipart/form-data")
  fieldset
    .addPhoto
      .uploadPhoto
        button.uploadPhoto
          img(src='img/png/cloud.png', alt='Cloud')
          p Upload photo
        input(type='file')
    .addText.addTitle
      input.housename(type="text", placeholder="Title", name='name')
    .addText.addAddress
      input(type="text", placeholder="Address", name='address')
    .rooms
    .addText.addRoomBtn
      button.roomAdd Add Room
    .addDiscription
      textarea(placeholder="Description", name='description')
    .addButtons
      button.addSave(type="submit") Save
      button.addCancel Cancel
